In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

#Import the API key.
from config import g_key

In [2]:
# Store the saved CSV into a DataFrame.
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nagornskiy,RU,2022-04-06 20:29:04,58.7731,57.5451,31.78,94,100,9.19
1,1,Yangi Marg`ilon,UZ,2022-04-06 20:29:04,40.4272,71.7189,63.32,48,26,4.61
2,2,Kysyl-Syr,RU,2022-04-06 20:29:05,63.8986,122.7617,-16.78,100,100,1.72
3,3,Nsanje,MW,2022-04-06 20:29:05,-16.9200,35.2620,75.13,97,100,2.28
4,4,Novoagansk,RU,2022-04-06 20:29:06,61.9449,76.6625,22.78,94,100,17.07

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
#max_temp=city_data_df["Max Temp"]

#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#temps=[]
#for temp in max_temp:
#    temps.append(max(temp,0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude
locations=city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations=city_data_df[["Lat", "Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations=city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations=city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp=float(input("What is the minimum temperature you would like for your trip?"))
max_temp=float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & \
                                     (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Nsanje,MW,2022-04-06 20:29:05,-16.9200,35.2620,75.13,97,100,2.28
9,9,Kapaa,US,2022-04-06 20:29:08,22.0752,-159.3190,78.78,73,0,17.27
15,15,Puerto Ayora,EC,2022-04-06 20:29:10,-0.7393,-90.3518,85.96,80,63,9.19
18,18,Tual,ID,2022-04-06 20:29:11,-5.6667,132.7500,82.27,75,100,5.66
19,19,Mar del Plata,AR,2022-04-06 20:27:41,-38.0023,-57.5575,80.62,39,0,16.11
28,28,Vallenar,CL,2022-04-06 20:29:14,-28.5708,-70.7581,88.02,10,0,10.20
29,29,Benguela,AO,2022-04-06 20:29:15,-12.5763,13.4055,75.83,86,41,3.65
34,34,Rikitea,PF,2022-04-06 20:24:29,-23.1203,-134.9692,78.53,73,63,14.12
35,35,Palauig,PH,2022-04-06 20:29:17,15.4350,119.9045,79.16,78,96,2.44
43,43,Grand Gaube,MU,2022-04-06 20:29:20,-20.0064,57.6608,79.20,86,60,16.28

In [33]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [92]:
# Create DataFrame called hotel_df to store hotel names, city, country, max temp, and coordinates.
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Nsanje      MW     75.13 -16.9200   35.2620
9           Kapaa      US     78.78  22.0752 -159.3190
15   Puerto Ayora      EC     85.96  -0.7393  -90.3518
18           Tual      ID     82.27  -5.6667  132.7500
19  Mar del Plata      AR     80.62 -38.0023  -57.5575
28       Vallenar      CL     88.02 -28.5708  -70.7581
29       Benguela      AO     75.83 -12.5763   13.4055
34        Rikitea      PF     78.53 -23.1203 -134.9692
35        Palauig      PH     79.16  15.4350  119.9045
43    Grand Gaube      MU     79.20 -20.0064   57.6608

In [97]:
# Set parameters to search for a hotel.
params={
    "radius":5000,
    "type":"lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()   

# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [98]:
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3          Nsanje      MW     75.13 -16.9200   35.2620
9           Kapaa      US     78.78  22.0752 -159.3190
15   Puerto Ayora      EC     85.96  -0.7393  -90.3518
18           Tual      ID     82.27  -5.6667  132.7500
19  Mar del Plata      AR     80.62 -38.0023  -57.5575
28       Vallenar      CL     88.02 -28.5708  -70.7581
29       Benguela      AO     75.83 -12.5763   13.4055
34        Rikitea      PF     78.53 -23.1203 -134.9692
35        Palauig      PH     79.16  15.4350  119.9045
43    Grand Gaube      MU     79.20 -20.0064   57.6608