## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Padang,ID,86.05,overcast clouds,-0.9492,100.3543,Mercure Padang
1,9,Cockburn Town,TC,78.19,overcast clouds,21.4612,-71.1419,Osprey Beach Hotel
2,11,Sao Joao Da Barra,BR,75.72,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
3,15,Hithadhoo,MV,83.34,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,17,Pontianak,ID,85.98,broken clouds,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [18]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Hervey Bay']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Hervey Bay']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Ballina']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Emerald'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Gladstone'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
179,688,Gladstone,AU,75.13,broken clouds,-23.85,151.25,Highpoint International Hotel

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

#start = vacation_start.iloc[0,5:7].to_numpy()
#end = vacation_end.iloc[0,5:7].to_numpy()
#stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
#stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
#stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

(-25.2986, 152.8535)

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(-25, 150), zoom_level=4.9)
start = start
end = end
waypoints = [stop1, stop2, stop3]
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='WALKING')
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='BICYCLING')
fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,206,Hervey Bay,AU,75.02,overcast clouds,-25.2986,152.8535,Shelly Bay Resort
1,475,Ballina,AU,76.01,overcast clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
2,161,Emerald,AU,87.94,broken clouds,-23.5333,148.1667,The Irish Village
3,688,Gladstone,AU,75.13,broken clouds,-23.8500,151.2500,Highpoint International Hotel

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-25, 150), zoom_level=4.9)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))